# --- SEGURIDAD (CRÍTICO) ---
.env

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class

# --- BASES DE DATOS (JSON) ---
*.json

# --- ARCHIVOS DE BASES DE DATOS ---
*.db

# --- ENTORNOS VIRTUALES ---
venv/
env/
.venv/

# --- IDEs ---
.vscode/
.idea/